{% extends "layout.html" %}

{% block content %}
<h2>
   Reset Password
</h2>

<form method="POST" novalidate>
    {{ form.csrf_token() }}

    {% if form.password.errors %}
    <div>
        <span>{{ form.password.errors[0] }}</span>
    </div>
    {% endif %}

    {{ form.password (placeholder="password") }}

    {% if form.confirm.errors %}
    <div>
        <span>{{ form.confirm.errors[0] }}</span>
    </div>
    {% endif %}

    {{ form.confirm (placeholder="password") }}

    <div>
        <button type="submit">
            Change Password
        </button>
    </div>
</form>

{% endblock %}

{% block title %}
Reset Password | DSWD
{% endblock %}